alembic==1.5.8
certifi==2020.12.5
cftime==1.4.1
chardet==4.0.0
click==8.0.0a1
decorator==5.0.6
et-xmlfile==1.0.1
Flask==1.1.2
flask-marshmallow==0.14.0
Flask-Migrate==2.7.0
flask-oidc==1.4.0
Flask-SQLAlchemy==2.5.1
Flask-SSE==1.0.0
greenlet==1.0.0
httplib2==0.19.1
humanize==3.3.0
idna==3.1
itsdangerous==2.0.0rc1
jdcal==1.4.1
Jinja2==3.0.0a1
joblib==1.0.1
lxml==4.6.3
Mako==1.1.4
MarkupSafe==2.0.0rc1
marshmallow==3.11.1
marshmallow-sqlalchemy==0.24.2
numpy==1.20.2
oauth2client==4.1.3
openpyxl==3.0.7
pandas==1.2.3
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==2.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
ratelim==0.1.6
redis==3.5.3
requests==2.25.1
require==0.1.1
requires.io==0.2.6
rsa==4.7.2
Rx==3.1.1
six==1.15.0
SQLAlchemy==1.4.7
urllib3==1.26.4
waitress==2.0.0
wcwidth==0.2.5
Werkzeug==2.0.0rc3
xlrd==2.0.1
XlsxWriter==1.3.8
xmljson==0.2.1
